{{!-- head section inject --}}
{{#section 'css'}}
    <style>
        .label:not(:last-child) {
            margin-bottom: 0;
        }
    </style>
{{/section}}

{{!-- page heading --}}
<div class="columns is-multiline is-centered is-mobile">
    {{!-- page title --}}
    <div class='column is-full'>
        <div class='title has-text-centered mt2'>Users {{title}}</div>
    </div>
</div>
{{!-- page form --}}
<div class="columns is-multiline is-mobile is-centered">
    <div class="column is-11-mobile is-three-fifths-tablet is-three-fifths-desktop is-half-widescreen">
        <form id='loginForm' class='box' action='/users/login' method='POST'
            enctype="application/x-www-form-urlencoded">
            <div class="field">
                {{!-- Email --}}
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input type='text' name='email' value='{{iif email email ''}}'
                        class='input{{iif errors.email ' is-danger' ''}}' placeholder="Email">
                    <span class='icon is-small is-left'>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                    <span class='icon is-small is-right{{iif errors.email ' is-danger' ''}}'>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                </div>
                {{!-- validation error messages --}}
                {{#if errors.email}}
                    {{#each errors.email as |errorMessage|}}
                        <p class='help is-danger'>{{errorMessage}}</p>
                    {{/each}}
                {{/if}}
                {{!-- Password --}}
                <label class="label mt2">Password</label>
                <div class="control has-icons-left">
                    <input type="password" name='password' value='{{iif password password ''}}'
                        class="input{{iif errors.password ' is-danger' ''}}" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                {{!-- validation error messages --}}
                {{#if errors.password}}
                    {{#each errors.password as |errorMessage|}}
                        <p class='help is-danger'>{{errorMessage}}</p>
                    {{/each}}
                {{/if}}

                {{!-- Control Buttons --}}
                <div class="field mt2">
                    <div class="control">
                        <button type='submit' class="button is-link is-fullwidth">Sign In</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {{!-- Login Instead --}}
    <div class="column is-11-mobile is-three-fifths-tablet is-three-fifths-desktop is-half-widescreen">
        <div class='box'>
            <p class='has-text-centered'>New to us? <a class='is-size-5' href='/users/register'>Sign Up</a></p>
        </div>
    </div>
</div>

{{!-- js section inject --}}
{{#section 'js'}}
    <script>
    </script>
{{/section}}
